<main>
    <form action="/productos" method="post" name="productos">
        <input type="text" name="titulo" placeholder="Nombre del producto">
        <input type="number" name="precio" placeholder="Precio del producto">
        <input type="text" name="foto" placeholder="Url de la foto">
        <button>enviar</button>
    </form>
    <a href="/">ir a productos</a>
</main>